<%- include ('partials/head')  %>
<link rel="stylesheet" type="text/css" href="/resume.css">
</head>
<body>
    
<%-  include ('partials/navbar')  %>  

<div class="christmas">
    <h1>MERRY CHRISTMAS, MADDIE!!</h1>
    <h2>I LOVE YOU!</h2>
</div>