<%- include ('partials/head')  %>
</head>
<body>
    
<%-  include ('partials/navbar')  %> 
<link rel="stylesheet" href="/home.css">

<div class="total">
<div class="greeting">
    <h1><u>Hi, I am Skylar Ramsey!</u></h1>
</div>
<div class="introduction">
    <h3>I am a senior in Infomation Technology at Seminole State College based in the Orlando, Florida area.</h3>
    <h3>I am incredibly excited by learning new things and the inner workings of familar ones.</h3>
</div>
</div>
</body>
</html>